<html  th:replace="~{Admin/Adminbase::layout(~{::main})}">
<body>
<main>
<div class="row">
<div class="col-sm-12 ">
<div class="card shadow">
<div class="card-header bg-primary">
<h4 class="text-center m-0 text-white">Manage Enquiries</h4>
</div>
<div class="card-body">
<div class="table-responsive">
<table class="table table-bordered">
<thead>
<tr >
<th>S. No</th>
<th>Name</th>
<th>Contact No</th>
<th>Email</th>
<th>Title</th>
<th>Message</th>
<th>Enquiry Date</th>
<th>Action</th>
</tr>
</thead>

<tbody>
<tr th:each="enq,srno:${enquiry}">
<td th:text="${srno.index+1}"></td>
<td th:text="${enq.name}"></td>
<td th:text="${enq.contactNo}"></td>
<td th:text="${enq.email}"></td>
<td th:text="${enq.title}"></td>
<td th:text="${enq.message}"></td>
<td th:text="${#temporals.format(enq.enquiryDate, 'dd-MM-yyyy hh:mm a')}"></td>
<td>
<a href="#" class="btn btn-success btn-sm">Edit</a>
<a href="#" onclick="return confirm('Are you sure want to delete?')" class="btn btn-danger btn-sm">Delete</a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>




</main>
</body>

</html>