<html  th:replace="~{Admin/Adminbase::layout(~{::main})}">
<body>
<main>

<div class="row">
<div class="col-sm-12 ">
<div class="card shadow">
<div class="card-header bg-primary">
<h4 class="text-center m-0 text-white">Manage Feedback & Review</h4>
</div>
<div class="card-body">
<div class="table-responsive">
<table class="table table-bordered" id="example">
<thead>
<tr >
<th>S. No</th>
<th>User(Buyer)</th>
<th>Seller</th>
<th>Product Name</th>
<th>Order Id</th>
<th>Rating</th>
<th>Message</th>
<th>Images</th>
<th>Submit Date</th>
<th>Active</th>
<th>Action</th>
</tr>
</thead>

<tbody>
<tr th:each="feed,srno:${feedback}">
<td th:text="${srno.index+1}"></td>
<td th:text="${feed.user.name}"></td>
<td th:text="${feed.seller.name}"></td>
<td th:text="${feed.product.productName}"></td>
<td th:text="${feed.order.Id}"></td>
<td >
<span th:text="${feed.rating} + '⭐'" class="text-warning fw-bold"></span>
</td>
<td th:text="${feed.message}"></td>
<td>
<img alt="image not fiund" th:if="${feed.images!=null}" th:src="@{'/feedback/' + ${feed.images}}" style="width:60px; height:60px; object-fit:cover; border-radius:6px;">
</td>
<td th:text="${#temporals.format(feed.submittedAt, 'dd-MM-yyyy hh:mm a')}"></td>

<td>
<span th:if="${feed.active}" class="badge bg-success">Active</span>
<span th:unless="${feed.active}" class="badge bg-danger">Hidden</span>
</td>
<td>
<a th:href="@{'/Admin/deleteFeedback/'+ ${feed.id}}" onclick="return confirm('Are you sure want to delete?')" class="btn btn-danger btn-sm">Delete</a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>



</main>
</body>

</html>