<html th:replace="~{Base::layout(~{::main})}">
	<body>
		<main>
			<style>
				.card-title-link
				{
					text-decoration: none;
					color: black;
					font-size: 18px;
					text-transform: capitalize;
					transition:0.3s;
				}
				.card-title-link:hover
				{
					color: blue;
				}
				
				.link-hover{
				 color: black;
				 transition:0.3s;
				 cursor: pointer;
				}
				.link-hover:hover{
					color: blue;
				}
				
				.price-card-item
				{
					display: flex;
					justify-content: space-between;
				}
				
				#MainItemCard{
					max-height: 66vh;
					overflow-y: scroll;
				}
				#MainItemCard::-webkit-scrollbar{
					width: 0
				}
				
</style>
			
<div class="container-fluid">
			<div class="row my-5">
				<div class="col-sm-11 mx-auto"  >
					<div class="row mt-3">
						
						<div class="col-md-8" >
						<div class="card rounded-1 shadow p-2">
							<div class="row p-1">
								<div class="col-sm-8" th:if="${session.loggedInUser ==null}">
							<p class=" pt-1 m-0">Select Addres From Saved Address</p>
						</div>
								<div class="col-sm-8" th:if="${session.loggedInUser != null}">
								<p class="m-0" style="font-size: 14px;">Deliver To : <b th:text="${address.name+','+address.pincode}">Sunny, 272152</b> <span class="badge text-bg-secondary rounded-1 bg-opacity-25 p-2 mx-2 text-muted fw-normal" style="font-size: 11px;" th:text="${address.addressType}">WORK</span> </p>
								<p class="m-0 text-muted" style="font-size: 14px;"> <span th:text="${address.address}">Softpro House secoter j jankipuram gudmba thana lucknow....</span> </p>
							</div>
							<div class="col-sm-4 text-end pt-2">
								<a href="#" class="btn btn-outline-info rounded-0 " data-bs-toggle="modal" data-bs-target="#addressModal">Change</a>
							</div>
							</div>
						</div>
						
						<!--Item cart  -->
						<!-- Item From Cart -->
						<div class="card rounded-0 mt-2 " id="MainItemCard" th:if="${cartItems != null}">
							<div class="row m-0 cart-row" style="border-bottom: solid #0000002d; " th:each="item : ${cartItems}" th:attr="data-id=${item.id}">
								<div class="col-md-2 text-center p-3">
									<img alt="img not found" th:src="@{'ProductImages/'+${item.product.productImages[0]}}" class="p-2" width="130px" height="130px">
									<div class="d-flex p-2">
										<button class="btn px-1 border border-secondry rounded-circle  " style="width: 30px; height: 28px; font-size: 13px;" onclick="updateQuantity(this,-1)"><i class="fa-solid fa-minus"></i></button>
										<div class="border border-secondry text-center px-3 mx-2 qty" th:text="${item.quantity}">4</div>
										<button class="btn px-1 border border-secondry rounded-circle " style="width: 30px; height: 28px; font-size: 13px;" onclick="updateQuantity(this,1)"><i class="fa-solid fa-plus"></i></button>
									</div>
								</div>
								<div class="col-md-6 p-3 px-lg-5">
									<a href="#" class="card-title-link" th:text="${item.product.productName}">ajshgjk</a>
									<br>
									<span class="text-muted">Brand Name : <span th:text="${item.product.brandName}">ABCD</span>, <span th:text="${item.product.category.categoryName}" class="">Category Name</span> </span>
									<br>
									<p class="text-muted pt-2">Seller : <span th:text="${item.product.seller.name}">Sarvesh Kumar</span> </p>
									
									<p> <del class="text-muted">₹ <span th:text="${item.product.pricePerUnit*item.quantity}" class="update-unit-price" ></span></del>
									 <span class="fs-4 fw-bold">₹ <span th:text="${item.product.finalPrice*item.quantity}" class="update-final-price">₹12000</span></span> <span class="text-success fw-bold ms-2" th:text="${item.product.discount+'%'}">80% OFF</span> <i class="fa-solid fa-exclamation bg-success rounded-circle text-white p-1 text-center" style="font-size: 9px; height: 16px; width: 16px"></i>
									<input type="hidden" th:value="${item.product.pricePerUnit}" class="price-per-unit">
									<input type="hidden" th:value="${item.product.finalPrice}" class="final-price">
									</p>
									
								</div>
								<div class="col-md-4 p-3">
									Delivery By <span th:text="${#temporals.format(T(java.time.LocalDate).now().plusDays(item.product.maxDeliveryDays),'EEE-MMM-dd')}">Fri Feb 13</span>
								</div>
							</div>
						</div>
						
						<!-- item from  buy now product -->
					
						<div class="card rounded-0 mt-2 " id="MainItemCard" th:if="${isBuyNow}">
							<div class="row m-0" style="border-bottom: solid #0000002d; ">
								<div class="col-md-2 text-center p-3">
									<img alt="img not found" th:src="@{'ProductImages/'+${buyNowProduct.productImages[0]}}" class="p-2" width="130px" height="130px">
									<div class="d-flex p-2">
										<button class="btn px-1 border border-secondry rounded-circle  " style="width: 30px; height: 28px; font-size: 13px;" onclick="updateBuyNowQuantity(-1)"><i class="fa-solid fa-minus"></i></button>
										<div class="border border-secondry text-center px-3 mx-2 qty" th:text="${quantity}" id="buyNowQuantity">4</div>
										<button class="btn px-1 border border-secondry rounded-circle " style="width: 30px; height: 28px; font-size: 13px;" onclick="updateBuyNowQuantity(1)"><i class="fa-solid fa-plus"></i></button>
									</div>
								</div>
								<div class="col-md-6 p-3 px-lg-5">
									<a href="#" class="card-title-link" th:text="${buyNowProduct.productName}">ajshgjk</a>
									<br>
									<span class="text-muted">Brand Name : <span th:text="${buyNowProduct.brandName}">ABCD</span>, <span th:text="${buyNowProduct.category.categoryName}" class="">Category Name</span> </span>
									<br>
									<p class="text-muted pt-2">Seller : <span th:text="${buyNowProduct.seller.name}">Sarvesh Kumar</span> </p>
									
									<p> <del class="text-muted">₹ <span th:text="${buyNowProduct.pricePerUnit*quantity}" id="update-unit-price" ></span></del>
									 <span class="fs-4 fw-bold">₹ <span th:text="${buyNowProduct.finalPrice*quantity}" id="update-final-price">₹12000</span></span> <span class="text-success fw-bold ms-2" th:text="${buyNowProduct.discount+'%'}">80% OFF</span> <i class="fa-solid fa-exclamation bg-success rounded-circle text-white p-1 text-center" style="font-size: 9px; height: 16px; width: 16px"></i>
									<input type="hidden" th:value="${buyNowProduct.pricePerUnit}" id="price-per-unit">
									<input type="hidden" th:value="${buyNowProduct.finalPrice}" id="final-price">
									</p>
									
								</div>
								<div class="col-md-4 p-3">
									Delivery By <span th:text="${#temporals.format(T(java.time.LocalDate).now().plusDays(buyNowProduct.maxDeliveryDays),'EEE-MMM-dd')}">Fri Feb 13</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card rounded-0 shadow">
							<div class="card-header border border-0 bg-white">
								<h5 class="m-0">Price Details</h5>
							</div>
							<div class="card-body">
								
								<div class="card bg-secondary bg-opacity-10 border border-0  p-3">
									<p class="price-card-item"> <span style="border-bottom: 1px dashed;">Total MRP</span> <span th:text="${'₹'+totalPrice}" id="totalPrice">₹70,000</span> </p>
									<span>Discounts</span>
									<p class="text-muted price-card-item m-0"> 
										<span>Discount on MRP</span>
										<span class="text-success" th:text="${'-₹'+(totalPrice-finalPrice)}" id="discount">-₹20,000</span>
									</p>
									<p class="text-muted price-card-item m-0"> 
										<span>Coupans Applied(0)</span>
										<span class="text-success">0.0</span>
									</p>
									<p class="text-muted price-card-item m-0"> 
										<span>Delivery Charge</span>
										<span class="text-success" th:text="${shippingCharge}" id="shippingCharge">₹ 0.0</span>
									</p>
									<hr>
									<p class="fw-bold price-card-item p-0">
										<span >Total Ammout To Pay</span>
										<span th:text="${'₹'+(finalPrice+shippingCharge)}" id="finalPrice">₹50000</span>
									</p>
								</div>
								
								<form id="orderForm">
								<h5 class="fw-bold mt-3">Payment Mode</h5>
								<input type="hidden" th:if="${isBuyNow}" th:value="${buyNowProduct.id}" name="productId">
								<input type="hidden" th:if="${isBuyNow}" th:value="${quantity}" name ="qty" id="qty">
								
								<span class="me-5" th:if="${cod}">
								<input type="radio" id="cod" value="COD" name="paymentMethod" required> <label for="cod" styel="font-size:18px;">Cash on Delivery</label>
								</span>
								<span th:if="${cod != true}" class="fw-bold text-danger">
								 COD Not Available..
								 <br>
								 </span>
								<input type="radio" id="online" value="ONLINE" name="paymentMethod" required> <label for="online" style="font-size:18px;">Online Payment</label>
								
								<button type="button" onclick="placeOrder()" class="btn btn-warning w-100 mt-4 rounded-0">Place Order</button>
								</form>
							</div>
						</div>
					</div>
					</div>
				</div>
				
				
			</div>
			</div>
				<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select Delivery Address</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" th:if="${session.loggedInUser==null}">
       <div class="row border-bottom">
       		<div class="col-md-2">
       			<img alt="img not found" src="assets/img/saveadd.jpeg">
       		</div>
       		<div class="col-md-10">
       			Log In  to view Saved Address
       		</div>
       </div>
       <div class="row pt-4">
       	<div class="col-md-10">
       		<b>Use Pincode to check Delivery info</b>
       		<input type="text" placeholder="Enter Pincode" style="border: 0; border-bottom: 2px solid grey; width: 100%; outline: 0;" class="p-2">
       	</div>
       	<div class="col-md-2 d-flex align-items-end">
       		<button class="btn btn-secondary btn-sm disabled">Submit</button>
       	</div>
       	<div class="col-md-12">
       		<img alt="img not found" src="assets/img/address-img.webp">
       		<a href="#" class="text-decoration-none fw-bold" style="margin-left: -70px;">Use My Current location</a>
       	</div>
       </div>
      </div>
      	<div class="modal-body px-0" th:if="${session.loggedInUser!=null}">
      	<form action="/ChangeAddress" method="post">
      	
      		<div class="row ms-0" style="max-height: 200px; overflow-y:scroll; width: 100%; ">
      			
      				<table class="table table-hover align-items-start">
      					<tr th:each="add: ${addresses}">
      						<td class="d-flex">
      						<input type="radio" th:checked="${add.active}" class="form-check-input" th:id="'addressId_'+ ${add.id}" name="addressId" th:value="${add.id}">
      						<div class="ms-3"> 
      							<label th:for="'addressId_'+ ${add.id}">
      								<b th:text="${add.name+' ,'+add.pincode}" style="font-size: 14px;"></b>
      							<span class="badge bg-secondary bg-opacity-25 text-muted ms-1" th:text="${add.addressType}">work</span>
      							<p th:text="${add.address}" class="text-muted" style="font-size: 14px;"></p>
      							</label>
      						</div>
      						</td>
      					</tr>
      				</table>
      			
      			
      		</div>
      		<div class="row p-3">
      			<b>Save this address or new address </b>
      			<div class="d-flex justify-content-between pt-3 px-4">
      				<a href="/User/ManageAddress" class="text-decoration-none fw-bold">+Add New Address</a>
      				<button type="submit" class="btn btn-warning btn-sm">Save Address</button>
      			</div>
      		</div>
      		</form>
      	</div>
    </div>
  </div>
</div>

            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            
			<script >
				function updateQuantity(btn,update)
				{
					var cartItem=btn.closest(".cart-row")
					var cartId=cartItem.getAttribute('data-id');
					
					var unitPrice=cartItem.querySelector(".price-per-unit").value;
					var finalPrice=cartItem.querySelector(".final-price").value;
					
					var qtyElement=cartItem.querySelector(".qty")
					let qty=parseInt(qtyElement.innerText);
					
					qty=qty+update;
					if(qty<1)
						qty=1;
					else if(qty>5){
						qty=5;
						alert("You Can only 5 quantity of this item")
					}
					qtyElement.innerText = qty
					document.getElementById("qty").value=qty;
					
					//update UI at realtime
					qtyElement.innerText=qty;
					cartItem.querySelector(".update-unit-price").innerText = parseFloat(qty* unitPrice).toFixed(1);
					cartItem.querySelector(".update-final-price").innerText =parseFloat( qty* finalPrice).toFixed(1);
					//alert(cartId);
					fetch('/UpdateQuantity/'+cartId+'?quantity='+qty,{
						method : 'POST'
					})
					.then(res=>res.json())
					.then(data=>{
						document.getElementById("totalPrice").innerText="₹"+parseFloat(data.totalPrice).toFixed(1);
						document.getElementById("discount").innerText="-₹"+parseFloat(data.totalPrice-data.finalPrice).toFixed(1);
						document.getElementById("finalPrice").innerText="₹"+parseFloat(data.finalPrice).toFixed(1);
					})
				}
				
				function updateBuyNowQuantity(update)
				{
					var qtyElement=document.getElementById("buyNowQuantity");
					var pricePerUnit=parseFloat(document.getElementById("price-per-unit").value);
					var finalPrice=parseFloat(document.getElementById("final-price").value);
					
					let qty=parseInt(qtyElement.innerText);
					
					qty=qty+update;
					
					if(qty<1)
						qty=1;
					else if(qty>5){
						qty=5;
						alert("You Can only 5 quantity of this item")
					}
					
					qtyElement.innerText=qty;
					
					//Most Important for url QTY update
					const url = new URL(window.location.href);
					url.searchParams.set("qty",qty);
					window.history.replaceState({}, '', url); 
					
					document.getElementById("update-unit-price").innerText=parseFloat(qty*pricePerUnit).toFixed(1);
					document.getElementById("update-final-price").innerText=parseFloat(qty*finalPrice).toFixed(1);
					
					let shippingCharge = parseFloat(document.getElementById("shippingCharge").innerText);
					
					document.getElementById("totalPrice").innerText ="₹"+ parseFloat(qty*pricePerUnit).toFixed(1);
					document.getElementById("discount").innerText ="₹"+ parseFloat(qty*pricePerUnit- qty*finalPrice).toFixed(1);
					document.getElementById("finalPrice").innerText ="₹"+ parseFloat(qty*finalPrice+shippingCharge).toFixed(1);
				}
				
				//Place order function
				function placeOrder(){
					let form = document.getElementById("orderForm");
					let formData = new URLSearchParams(new FormData(form));
					
					fetch('/place-order', {
						method : 'POST',
						body : formData
					})
					.then(res => res.json())
					.then(data => {
						if(data.status == "FAILED"){
							alert(data.message);
						}
						if(data.status === "COD_SUCCESS"){
							alert("order Placed Successfully!");
							window.location.href="/Orders";
						}
						if(data.status === "ONLINE"){
							var options = {
									key : data.key, 
									amount : data.amount,
									currency : "INR",
									order_id : data.razorpayOrderId,
									handler : function(response){
										fetch('/verify-payment',{
											method : 'POST',
											headers : {"Content-Type" : "application/json"},
										    body : JSON.stringify(response)
										})
										.then(res => res.text())
										.then(data=>{
											alert(data);
											window.location.href= '/Orders';
										})
										.catch(err => alert(err.message));
									}
							};
							var rzp = new Razorpay(options);
							rzp.open();
						}
					});
				}
			</script>
		</main>
	</body>
</html>