<html th:replace="~{base::layout(~{::main})}">
<head></head>
<body>
	<main>
		<style>
.card-title-link {
	text-decoration: none;
	color: black;
	font-size: 18px;
	text-transform: capitalize;
	transition: 0.3s;
}

.card-title-link:hover {
	color: blue;
}

.link-hover {
	color: black;
	transition: 0.3s;
	cursor: pointer;
}

.link-hover:hover {
	color: blue;
}

.price-card-item {
	display: flex;
	justify-content: space-between;
}

.main-item-card {
	max-height: 66vh;
	overflow-y: scroll;
}
</style>

		<div class="row mb-5">
			<div class="col-sm-11 mx-auto" th:if="${cartItems.size()>0}">
				<div class="row mt-3">
					<div class="col-md-8">
						<div class="card rounded-1 shadow  p-2">
							<div class="row p-1">
								<div class="col-sm-8 pt-2"
									th:if="${session.loggedInUser == null  or address == null}">
									<p class="pt-1 m-0">Select Address from Saved Addresses</p>
								</div>
								<div class="col-sm-8" th:if="${session.loggedInUser != null && address!=null}">
									<p class="m-0" style="font-size: 14px;">
										Deliver to: <b th:text="${address.name+ ', '+address.pincode}">Prince
											Kumar, 226021</b> <span th:text="${address.addressType}"
											class="badge text-bg-secondary rounded-1 bg-opacity-25 text-muted p-2 mx-2 fw-normal"
											style="font-size: 11px;">WORK</span>
									</p>
									<p class="m-0 text-muted" style="font-size: 14px;">
										<span th:text="${address.address}"> Softpro House
											Sector J Jankipuram gudama thana Lucknow......,</span>
									</p>
								</div>
								<div class="col-sm-4 text-end pt-1">
									<a href="#" class="btn btn-outline-info rounded-0"
										data-bs-toggle="modal" data-bs-target="#addressModal">Change</a>
								</div>
							</div>
						</div>

						<!-- Item card  -->
						<div class="card rounded-0 mt-3 main-item-card">
							<div class="row m-0 cart-row" th:each="item:${cartItems}"
								th:attr="data-id=${item.id}, "
								style="border-bottom: 1px solid #0000002d">
								<div class="col-md-2 text-center p-3">
									<img alt="image not found"
										th:src="@{'/ProductImages/'+${item.product.productImages[0]}}"
										class="p-2" width="130px" height="130px">
									<div class="d-flex p-2">
										<button onclick="updateQuantity(this,-1)"
											class="btn px-1 border border-secondary rounded-circle p-0"
											style="width: 30px; height: 28px; font-size: 13px">
											<i class="fa-solid fa-minus"></i>
										</button>
										<div class="border border-secondary text-center px-3 mx-2 qty"
											th:text="${item.quantity}">4</div>
										<button onclick="updateQuantity(this,1)"
											class="btn px-1 border border-secondary rounded-circle p-0"
											style="width: 30px; height: 28px; font-size: 13px">
											<i class="fa-solid fa-plus"></i>
										</button>
									</div>
								</div>
								<div class="col-md-6 p-3 px-lg-5">
									<a href="#" class="card-title-link"
										th:text="${item.product.productName}">ahhscanc hsc</a> <br>
									<span class="text-muted" th:text="${item.product.brandName}">Brand
										Name : <span>ABCD</span>, <span>Category Name : </span>
									</span> <br>
									<p class="text-muted pt-1 mb-1">
										Seller : <span th:text="${item.product.seller.name}">Prince
											Kumar</span>
									</p>
									<p class="text-muted ">
										<del>
											₹<span th:text="${item.product.pricePerUnit * item.quantity}"
												class="updated-unit-price"></span>
										</del>
										<span class="fs-4 fw-bold">₹ <span
											th:text="${item.price * item.quantity}"
											class="updated-final-price"></span></span> <span
											th:if="${item.product.discount > 0}"
											class="text-success fw-bold ms-2"
											th:text="${item.product.discount}+'% Off'">80% Off</span> <i
											class="fa-solid fa-exclamation bg-success rounded-circle text-white p-1"
											style="font-size: 9px; height: 16px; width: 16px;"></i>
									</p>

									<input type="hidden" class="price-per-unit"
										th:value="${item.product.pricePerUnit}" /> <input
										type="hidden" class="final-price"
										th:value="${item.product.finalPrice}" />
									<div class="">
										<a href="/Products"
											class="fw-bold text-decoration-none link-hover">BROWSE
											PRODUCT</a> <a th:href="@{'RemoveCartItem/'+${item.id}}"
											onclick="!confirm('are you sure want to temove this item?')"
											class="fw-bold mx-3 text-decoration-none link-hover">REMOVE</a>
									</div>
								</div>
								<div class="col-md-4 pt-4">
									Delivery by <span
										th:text="${#temporals.format( T(java.time.LocalDate).now().plusDays(item.product.maxDeliveryDays), 'EEE MMM dd')}">
										Fri Feb 13</span>
								</div>
							</div>
						</div>

					</div>
					<div class="col-md-4">
						<div class="card rounded-0 shadow">
							<div class="card-header border border-0 bg-white">
								<h5 class="m-0">Price Details</h5>
							</div>
							<div class="card-body">
								<div class="card bg-secondary bg-opacity-10 border border-0 p-3">
									<p class="price-card-item">
										<span style="border-bottom: 1px dashed;">Total MRP</span> <span id="totalPrice"
											th:text="'₹'+${totalPrice}">₹70,000</span>
									</p>
									<span>Discounts </span>
									<p class="text-muted price-card-item m-0">
										<span>Discount on MRP</span> <span class="text-success" id="discount"
											th:text="'₹'+${totalPrice-finalPrice}">-₹56,269</span>
									</p>
									<p class="text-muted price-card-item m-0">
										<span>Coupons Applied (0)</span> <span class="text-success">0.0</span>
									</p>
									<hr>
									<p class="fw-bold price-card-item m-0">
										<span>Total Amount to Pay</span> <span id="finalPrice"
											th:text="'₹'+${finalPrice}">₹14,013</span>
									</p>


								</div>

								<div class="">
									<a href="/checkout" class="btn btn-warning w-100 mt-4 rounded-0">
										Proceed To CheckOut</a>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="col-sm-11 mx-auto" th:if="${cartItems.size()==0}">
				<div
					class="card rounded-0 mt-4 border border-0 shadow text-center p-3 mb-5 py-5">
					<img alt="image not found" src="assets/img/cart.webp"
						width="350px" class="mx-auto">
					<h5>Your Card is empty!</h5>
					<small>Add items to it now</small> <br> <a href="/Products"
						class="btn btn-primary rounded-0 mx-auto" style="width: 15%">Shop
						Now</a>
				</div>
			</div>

		</div>

		<!--modal start-->


		<!-- Modal -->
		<div class="modal fade" id="addressModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Select
							Delivery Address</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body px-4"
						th:if="${session.loggedInUser == null}">
						<div class="row p-2 border-bottom">
							<div class="col-md-2">
								<img alt="image not found" src="images/address.webp">
							</div>
							<div class="col-md-10">Log in to view Saved Addresses</div>
						</div>
						<div class="row pt-4">
							<div class="col-md-10">
								<b>Use pincode to check delivery info</b> <input type="text"
									placeholder="Enter Pincode"
									style="border: 0; border-bottom: 2px solid grey; width: 100%; outline: 0;"
									class="p-2">
							</div>
							<div class="col-md-2 d-flex align-items-end">
								<button class="btn btn-secondary btn-sm disabled"> Submit</button>
							</div>

							<div class="col-md-12">
								<img alt="image not found" src="images/address-img.webp">
								<a href="#" class="text-decoration-none fw-bold"
									style="margin-left: -70px;">Use my current location</a>

							</div>

						</div>
					</div>

					<div class="modal-body px-0"
						th:if="${session.loggedInUser != null}">
						<form action="/ChangeAddress" method="post">
							<div class="row ms-0" style="max-height: 200px; overflow-y: scroll; width: 100%;">
								<table class="table table-hover ">
									<tr th:each="add : ${addresses}">
										<td class="d-flex">
										<input type="radio" th:checked="${add.active}" th:value="${add.id}" name="addressId" th:id="'addressId_' + ${add.id}">
											<div class="ms-3 mt-3">
												<label th:for="'addressId_' + ${add.id}"> <b
													th:text="${add.name+ ', '+add.pincode}"
													style="font-size: 14px;"></b> <span
													class="badge bg-secondary bg-opacity-25 text-muted ms-1"
													th:text="${add.addressType}"></span>
													<p th:text="${add.address}" class="text-muted"
														style="font-size: 14px;"></p>
												</label>
											</div></td>
									</tr>
								</table>

							</div>
							<div class="row p-3">
								<b>Save this address or new address</b>
								<div class="d-flex justify-content-between pt-3 px-4">
									<a href="/User/ManageAddress"
										class="text-decoration-none fw-bold">+ Add New Address</a>
									<button type="submit" class="btn btn-primary btn-sm" th:if="${address!=null}">Save
										Address</button>
								</div>
							</div>
						</form>

					</div>

				</div>
			</div>
		</div>

		

	</main>
</body>
</html>